<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Draging.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5A1460CC1CAB9BBC005ECDA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A1460E51CAB9BBD005ECDA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A1460F01CAB9BBD005ECDA6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
